### Limpieza de la base de datos Vivienda

En este documento se procedera a hacer la limpieza de la parte VIVIENDAS de la base de datos ENDUTIH.

Empesaremos importando las bases de datos necesarias para hacer una exploracion inicial

In [1]:
import pandas as pd
import numpy as np

### Carga
carga de la base de datos

In [2]:
vivienda_Loc='C:/Users/alejandro/Desktop/ProyectoFinal Delfin/Bases de datos/conjunto_de_datos/tr_vivienda.csv'
df_Vivienda=pd.read_csv(vivienda_Loc, low_memory=False, index_col=0)
df_Vivienda.head()

,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,RESUL_V,CD_ENDUTIH,FACTOR,UPM_DIS,EST_DIS,DOMINIO,ENT
UPM,,,,,,,,,,,,,,,,,
100008,1,3,1,1,1,1.0,1.0,4,1,1,1,14.0,144,1,3,U,1
100008,2,3,1,1,1,1.0,1.0,4,1,1,1,14.0,144,1,3,U,1
100008,3,3,1,1,1,1.0,1.0,2,1,1,1,14.0,144,1,3,U,1
100008,4,3,1,1,1,1.0,2.0,4,2,4,1,14.0,144,1,3,U,1
100010,1,3,1,1,1,1.0,1.0,3,1,1,1,14.0,134,2,3,U,1

In [3]:
df_vivienda_copy = df_Vivienda.copy()#creamos una copia para explorar los datos

In [4]:
print(df_vivienda_copy.shape)

(132305, 17)

### Eliminacion de columnas unicas de INEGI
Se eliminaran las tablas que el INEGI utiliza para relacionar sus tablas o que tienen vaalores los cuales no nos sirvan debido a que no sepamos el significado de estos

In [5]:
df_vivienda_copy.drop('EST_DIS',axis=1,inplace=True)#[1-587] Estrato de diseño muestral 
df_vivienda_copy.drop('FACTOR',axis=1,inplace=True)#[10-4150] Factor
df_vivienda_copy.drop('UPM_DIS',axis=1,inplace=True)#[1-10006] Unidad primaria de muestreo
df_vivienda_copy.head()

,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,RESUL_V,CD_ENDUTIH,DOMINIO,ENT
UPM,,,,,,,,,,,,,,
100008,1,3,1,1,1,1.0,1.0,4,1,1,1,14.0,U,1
100008,2,3,1,1,1,1.0,1.0,4,1,1,1,14.0,U,1
100008,3,3,1,1,1,1.0,1.0,2,1,1,1,14.0,U,1
100008,4,3,1,1,1,1.0,2.0,4,2,4,1,14.0,U,1
100010,1,3,1,1,1,1.0,1.0,3,1,1,1,14.0,U,1

In [6]:
for col in df_vivienda_copy.columns:
    try:
        df_vivienda_copy[col].fillna(value='99', inplace=True)
    except:
        pass

### Exploracion de la columna VIV_SEL

En esta columna deben de existir solo los siguientes datos:

    Vivienda seleccionada 
    longitud 2
    rango[]

In [7]:
df_vivienda_copy.VIV_SEL= df_vivienda_copy.VIV_SEL.astype('category')
df_vivienda_copy.VIV_SEL.value_counts()

2     17341
3     17324
1     17260
4     17249
5     17169
8      5106
9      5101
6      5073
7      5070
10     5062
11     2060
17     2034
16     2031
12     2029
15     2028
13     2018
14     2012
18     2008
19     1995
20     1852
21      218
22       66
23       12
38       12
37       12
26       12
28       12
31       12
30       11
32       11
35       11
34       11
40       11
29       11
27       11
24       11
33       10
36       10
25       10
39        9
Name: VIV_SEL, dtype: int64

### Exploracion de la columna P1_1

¿De qué material es la mayor parte del piso de esta vivienda?

    1 Tierra
    2 Cemento o firme
    3 Madera mosaico u otro recubrimiento

In [8]:
df_vivienda_copy.P1_1= df_vivienda_copy.P1_1.astype('category')
df_vivienda_copy.P1_1.value_counts()

2    65283
3    63408
1     3614
Name: P1_1, dtype: int64

### Exploracion de la columna P1_2

¿En esta vivienda tienen…

    1 agua entubada dentro de la vivienda?
    2 agua entubada fuera de la vivienda, pero dentro del terreno?
    3 agua entubada de llave pública (o hidrante)?
    4 agua entubada que acarrean de otra vivienda? 
    5 agua de pipa?
    6 agua de un pozo, río, arroyo, lago u otro?

In [9]:
df_vivienda_copy.P1_2= df_vivienda_copy.P1_2.astype('category')
df_vivienda_copy.P1_2.value_counts()

1    104878
2     20708
6      3464
5      1885
4       922
3       448
Name: P1_2, dtype: int64

### Exploracion de la columna P1_3

¿En esta vivienda tienen drenaje o desagüe conectado a…

    1 la red pública?
    2 una fosa séptica?
    3 una tubería que va a dar a una barranca o grieta?
    4 una tubería que va a dar a un río, lago o mar?
    5 ¿No tiene drenaje?

In [10]:
df_vivienda_copy.P1_3= df_vivienda_copy.P1_3.astype('category')
df_vivienda_copy.P1_3.value_counts()

1    102574
2     24817
5      3715
3       866
4       333
Name: P1_3, dtype: int64

### Exploracion de la columna P1_4
¿Disponen de energía eléctrica?

    1 Sí
    2 No

In [11]:
df_vivienda_copy.P1_4= df_vivienda_copy.P1_4.astype('category')
df_vivienda_copy.P1_4.value_counts()

1    131563
2       742
Name: P1_4, dtype: int64

### Exploracion de la columna P1_5_1
 ¿En esta vivienda disponen de refrigerador?

    1 Sí
    2 No
    b blanco

In [12]:
df_vivienda_copy.P1_5_1=df_vivienda_copy.P1_5_1.astype('category')
df_vivienda_copy.P1_5_1.value_counts()

1.0    119029
2.0     12534
99        742
Name: P1_5_1, dtype: int64

In [13]:
dicc_p1_5_1={1.0:'1',2.0:'2'}#DICCIONARIO PARA CAMBIAR LOS VALORES
dicc_p1_5_1

{1.0: '1', 2.0: '2'}

In [14]:
df_vivienda_copy.P1_5_1.replace(dicc_p1_5_1, inplace=True)
df_vivienda_copy.P1_5_1.value_counts()

1     119029
2      12534
99       742
Name: P1_5_1, dtype: int64

### Exploracion de la columna P1_5_2
 ¿En esta vivienda disponen de lavadora?

    1 Sí
    2 No
    b blanco

In [15]:
df_vivienda_copy.P1_5_2= df_vivienda_copy.P1_5_2.astype('category')
df_vivienda_copy.P1_5_2.value_counts()

1.0    98604
2.0    32959
99       742
Name: P1_5_2, dtype: int64

In [16]:
df_vivienda_copy.P1_5_2.replace(dicc_p1_5_1, inplace=True)
df_vivienda_copy.P1_5_2.value_counts()

1     98604
2     32959
99      742
Name: P1_5_2, dtype: int64

### Exploraion de la columna P2_1
¿Cuántas personas viven normalmente en esta vivienda contando a los niños chiquitos y a los ancianos? (incluya también a los trabajadores domésticos que viven aquí)

    01-30 Total de personas en la vivienda

In [17]:
df_vivienda_copy.P2_1= df_vivienda_copy.P2_1.astype('category')
df_vivienda_copy.P2_1.value_counts()

4     30092
3     26015
2     23784
5     19684
1     15290
6      9046
7      4211
8      2055
9       936
10      628
11      237
12      151
13       76
14       33
15       23
16       21
17        8
18        8
19        2
21        2
24        1
20        1
30        1
Name: P2_1, dtype: int64

### Exploraion de la columna P2_2
¿Todas las personas que viven en esta vivienda comparten un mismo gasto para comer?

    1 Sí
    2 No

In [18]:
df_vivienda_copy.P2_2= df_vivienda_copy.P2_2.astype('category')
df_vivienda_copy.P2_2.value_counts()

1    129609
2      2696
Name: P2_2, dtype: int64

### Exploracion de la columna P2_3
¿cuántos hogares o grupos de personas tienen gasto separado para comer contando el de usted?

    01-06 Número de hogares en la vivienda

In [19]:
 df_vivienda_copy.P2_3= df_vivienda_copy.P2_3.astype('category')
df_vivienda_copy.P2_3.value_counts()

1    129743
2      2185
3       298
4        61
5        18
Name: P2_3, dtype: int64

### Exploracion de la columna RESUL_V
Resultado de la vivienda
    
    01-02 Resultado de la vivienda

In [20]:
df_vivienda_copy.RESUL_V= df_vivienda_copy.RESUL_V.astype('category')
df_vivienda_copy.RESUL_V.value_counts()

1    132141
4       100
2        59
3         5
Name: RESUL_V, dtype: int64

### Exploracion de la columna CD_ENDUTIH
Ciudad de levantamiento
    
    [01-70] Catálogo tc_ciudad
    b Blanco

In [21]:
df_vivienda_copy.CD_ENDUTIH= df_vivienda_copy.CD_ENDUTIH.astype('category')
df_vivienda_copy.CD_ENDUTIH.value_counts()

99      43417
1.0      4469
3.0      2647
2.0      2602
14.0     1823
20.0     1821
38.0     1813
5.0      1811
27.0     1809
28.0     1808
25.0     1797
31.0     1793
59.0     1784
24.0     1777
6.0      1775
32.0     1760
62.0     1753
16.0     1751
65.0     1751
39.0     1743
37.0     1743
17.0     1742
36.0     1742
33.0     1738
67.0     1735
49.0     1735
52.0     1734
26.0     1729
40.0     1723
23.0     1714
4.0      1713
44.0     1711
15.0     1699
19.0     1690
8.0      1690
9.0      1688
10.0     1686
21.0     1685
18.0     1683
7.0      1681
70.0     1667
29.0     1665
22.0     1655
30.0     1645
13.0     1643
43.0     1641
55.0     1625
46.0     1614
41.0     1612
12.0     1573
Name: CD_ENDUTIH, dtype: int64

In [22]:
dicc_CD_ENDUTIH={1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',
                 10:'10',11:'11',12:'12',13:'13',14:'14',15:'15',16:'16',17:'17',18:'18',19:'19',20:'20',21:'21',22:'22',
                 23:'23',24:'24',25:'25',26:'26',27:'27',28:'28',29:'29',30:'30',31:'31',32:'32',33:'33',34:'34',35:'35',
                 36:'36',37:'37',38:'38',39:'39',40:'40',41:'41',42:'42',43:'43',44:'44',45:'45',46:'46',47:'47',48:'48',
                 49:'49',50:'50',51:'51',52:'52',53:'53',54:'54',55:'55',56:'56',57:'57',58:'58',59:'59',60:'60',61:'61',
                 62:'62',63:'63',64:'64',65:'65',66:'66',67:'67',68:'68',69:'69',70:'70'
                }
dicc_CD_ENDUTIH

{1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: '10',
 11: '11',
 12: '12',
 13: '13',
 14: '14',
 15: '15',
 16: '16',
 17: '17',
 18: '18',
 19: '19',
 20: '20',
 21: '21',
 22: '22',
 23: '23',
 24: '24',
 25: '25',
 26: '26',
 27: '27',
 28: '28',
 29: '29',
 30: '30',
 31: '31',
 32: '32',
 33: '33',
 34: '34',
 35: '35',
 36: '36',
 37: '37',
 38: '38',
 39: '39',
 40: '40',
 41: '41',
 42: '42',
 43: '43',
 44: '44',
 45: '45',
 46: '46',
 47: '47',
 48: '48',
 49: '49',
 50: '50',
 51: '51',
 52: '52',
 53: '53',
 54: '54',
 55: '55',
 56: '56',
 57: '57',
 58: '58',
 59: '59',
 60: '60',
 61: '61',
 62: '62',
 63: '63',
 64: '64',
 65: '65',
 66: '66',
 67: '67',
 68: '68',
 69: '69',
 70: '70'}

In [23]:
df_vivienda_copy.CD_ENDUTIH.replace(dicc_CD_ENDUTIH, inplace=True)
df_vivienda_copy.CD_ENDUTIH.value_counts()

99    43417
1      4469
3      2647
2      2602
14     1823
20     1821
38     1813
5      1811
27     1809
28     1808
25     1797
31     1793
59     1784
24     1777
6      1775
32     1760
62     1753
16     1751
65     1751
37     1743
39     1743
36     1742
17     1742
33     1738
67     1735
49     1735
52     1734
26     1729
40     1723
23     1714
4      1713
44     1711
15     1699
8      1690
19     1690
9      1688
10     1686
21     1685
18     1683
7      1681
70     1667
29     1665
22     1655
30     1645
13     1643
43     1641
55     1625
46     1614
41     1612
12     1573
Name: CD_ENDUTIH, dtype: int64

### Exploracion de la columna DOMINIO
Población rural y urbana

    [U,R] Población rural y urbana

In [24]:
df_vivienda_copy.DOMINIO=df_vivienda_copy.DOMINIO.astype('category')
df_vivienda_copy.DOMINIO.value_counts()

U    104203
R     28102
Name: DOMINIO, dtype: int64

In [27]:
dicc_Dom={'R':2, 'U':1}
df_vivienda_copy.DOMINIO.replace(dicc_Dom, inplace=True)
df_vivienda_copy.DOMINIO.value_counts()

1    104203
2     28102
Name: DOMINIO, dtype: int64

### Exploracion de la columna ENT
Entidad
    
    [01-32] Entidad

In [28]:
df_vivienda_copy.ENT=df_vivienda_copy.ENT.astype('category')
df_vivienda_copy.ENT.value_counts()

28    7933
11    6757
2     6643
30    6396
26    4976
16    4973
21    4945
25    4929
15    4827
7     4824
8     4742
12    4474
5     4299
19    4124
14    4105
10    3585
3     3287
6     3263
31    3261
29    3202
4     3182
1     3178
18    3172
20    3124
32    3124
17    3085
27    3062
22    3058
23    3012
13    2992
24    2961
9     2810
Name: ENT, dtype: int64

### Impreción de la tabla
Impreción de la tabla una vez limpiada

In [30]:
path='C:/Users/alejandro/Desktop/ProyectoFinal Delfin/Limpiados/tr_vivienda.csv'

df_vivienda_copy.to_csv(path_or_buf=path,index=True, encoding='utf-8')